.wrap {
  & > div.ant-card-body {
    padding: 0;
  }
}
.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.meta {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  & div {
    &:nth-child(2) {
      flex: none;
    }
  }
}
.titles {
  width: 207px;
  display: flex;
  align-items: center;
  & a {
    font-family: 'InterUI-Regular', sans-serif;
    font-size: 20px;
    line-height: 28px;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  & > span {
    &:first-of-type {
      margin-left: 12px;
    }
    &:last-of-type {
      margin-left: 5px;
    }
  }
}
.tag {
  margin-top: 4px;
  font-family: 'InterUI-Regular', sans-serif;
  font-size: 12px;
  line-height: 15px;
}
.describe {
  width: 682px;
  font-family: 'InterUI-Regular', sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
