.container {
  background-color: #ebeef3;
  display: flex;
  flex-direction: column;
}
.wrap {
  margin: 59px auto 239px;
  padding: 48px 32px;
  font-family: 'Roboto-Regular', sans-serif;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  label {
    margin-top: 12px;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    display: flex;
    flex-direction: column;
    input {
      width: 320px;
      padding: 8px 12px;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      color: #bfbfbf;
      &:focus {
        outline: 2px solid #1890ff;
      }
    }
  }

  p {
    color: #f5222d;
    font-size: 14px;
    line-height: 22px;
  }
  a {
    text-decoration: none;
    color: #1890ff;
  }
}
.title {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin: auto;
}
.errors + input[type='text'],
.errors + input[type='password'] {
  border: 1px solid #f5222d;
}
.button {
  margin-top: 21px;
  width: 319px;
  background-color: #1890ff;
  border: 1px Solid #1890ff;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 7px;
}
