.wrap {
  background-color: #ebeef3;
  display: flex;
  flex-direction: column;
  > :last-child {
    margin: auto;
    margin-top: 27px;
    margin-bottom: 14px;
    font-family: 'InterUI-Regular', sans-serif;
    font-size: 12px;
    line-height: 22px;
  }
  & li.articles {
    width: 941px;
    padding: 0;
    margin: auto;
    margin-top: 26px;
    & > div {
      & > div {
        & > :nth-child(2) {
          margin-top: 4px;
          span {
            width: 682px;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
            overflow-wrap: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          a {
            display: none;
            visibility: hidden;
          }
        }
      }
    }
  }
}
