.wrap-articlesList {
  background-color: #ebeef3;
  display: flex;
  flex-direction: column;
  > .ant-list-pagination {
    margin: auto;
    margin-top: 27px;
    margin-bottom: 14px;
    font-family: 'InterUI-Regular', sans-serif;
    font-size: 12px;
    line-height: 22px;
  }
  & li.ant-list-item {
    width: 941px;
    padding: 0;
    margin: auto;
    margin-top: 26px;
    & .describe-articles {
      margin-top: 4px;
      a {
        display: none;
        visibility: hidden;
      }
    }
  }
}
